#title {
    font-size: 40px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.description {
    height: 375px;
}

.spacing {
    margin-top: 30px;
}